body {
    height: 100vh;
    width: 100vw;
}
.text-container {
    box-sizing: border-box;
    padding: 0px 35px;
}
img {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
a.skip-link {
  position: absolute;
  top: -99999px;
  left: -99999px;
}
a.skip-link:focus {
  top: 0;
  left: 0;
}
