body {
    font-family: sans-serif;
}

.text-container {
    box-sizing: border-box;
    width: 90%;
    max-width: 980px;
    margin: 5px auto 0;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
}

p {
    font-size: 18px;
}

img {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}
    
#skiptocontent a {
    padding: 6px;
    position: absolute;
    top: -40px;
    left: 10px;
    color: white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: transparent;
      webkit transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}

#skiptocontent a:focus {
    position: absolute;
    left: 10px;
    top: 0px;
    background: #BF1722;
    outline: 0;
      webkit transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear;
}
