body {
    font-family: sans-serif;
}

.text-container {
    box-sizing: border-box;
    width: 90%;
    max-width: 980px;
    margin: 5px auto 0;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
}

p {
    font-size: 18px;
}

img {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}